span{
    color: rgb(135, 128, 231);
}
.dive{
    color: white;
    background-color:  rgb(135, 128, 231);
    justify-content: space-evenly;
    border-radius: 30px;
}
.dive:hover{
    background-color:  rgb(109, 100, 225);
}
/* .dive:hover span{
    color: white;
} */
