.aboutme{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(135, 128, 231);
    text-align: center;
}
span{
    color: rgb(135, 128, 231);
}